*.a
*.o
*.lo
*.la
*.dylib
*.dSYM
*.tar.gz
*~
TAGS
.#*
*#
*.pyc
.cproject
.project
.pydevproject
.settings/
.DS_Store
__pycache__
docs/html
docs/build
.deps
.dirstamp
test/test_*
!test/test_*.c
!test/test_*.h


